<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Louie(${contextPath}) - Build</title>

#parse("templates/header.vm")

  </head>
   
  <body>
#parse("templates/navbar.vm")
   

    <div id="wrapper">
    
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Build
                </li>
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid info-content">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h3>Services</h3>
                        </div>
#foreach($build in $builds)
                        <b>${build.name}</b>:${build.version} <i>${build.buildString}</i><br>
#end
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h3>Louie</h3>
                        </div>
#foreach($build in $louieBuilds)
                        <b>${build.name}</b>:${build.version} <i>${build.buildString}</i><br>
#end
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h3>Other</h3>
                        </div>
#foreach($build in $otherBuilds)
                        <b>${build.name}</b>:${build.version} <i>${build.buildString}</i><br>
#end
                    </div>
                </div>

            </div>
        </div>
    </div>
  
#parse("templates/footer.vm")

  </body>
</html>