    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="${contextPath}/louie/louie.ico">

    <!-- Bootstrap -->
    <link rel='stylesheet' href='${contextPath}/webjars/bootstrap/3.2.0/css/bootstrap.min.css'>

    <!-- Bootstrap theme -->
    <link rel='stylesheet' href='${contextPath}/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css'>

    <link rel='stylesheet' href='${contextPath}/louie/info.css'>