<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>classpath:log4j2.xml</param-value>
    </context-param>
    <!--Fix the ApplicationShutdownHook issue-->
    <context-param>
        <param-name>log4jContextName</param-name>
        <param-value>hsm</param-value>
    </context-param>
    <listener>
        <listener-class>com.rhythm.hsm.server.StateListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>PBServlet</servlet-name>
        <servlet-class>com.rhythm.louie.servlets.PBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>com.rhythm.louie.servlets.InfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>com.rhythm.louie.servlets.JsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CacheInfoServlet</servlet-name>
        <servlet-class>com.rhythm.louie.servlets.CacheInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProtoServlet</servlet-name>
        <servlet-class>com.rhythm.louie.servlets.ProtoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HsmTransferServlet</servlet-name>
        <servlet-class>com.rhythm.hsm.HsmTransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.rhythm.hsm.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PBServlet</servlet-name>
        <url-pattern>/pb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CacheInfoServlet</servlet-name>
        <url-pattern>/cache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProtoServlet</servlet-name>
        <url-pattern>/proto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HsmTransferServlet</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
